%html
  %head
    %title Daily photos of yours truly.
    - %w[ornamentation facebox].each do |css|
      %link{:rel => 'stylesheet', :href => "/#{css}.css", :type => 'text/css'}
    - %w[jquery facebox application].each do |js|
      %script{:src => "/#{js}.js", :type => 'text/javascript'}
  %body= yield
