#month

  #browse
    %a.older{:href => "/m/#{fd(@date - 1.month, false)}"} older
    %a.newer{:href => "/m/#{fd(@date + 1.month, false)}"} newer

  #pictures
    - @photos.each do |picture|
      %a{:href => picture, :rel => 'facebox'}
        %img{:src => picture}