#day
  #pictures
    width: 84%
    margin: 1em auto
    border: 2em solid #eee
  
    img
      width: 10%
      margin: 4px
      padding: 0

#browse
  width: 77%
  margin: 1em auto

  a
    display: block
    width: 45%
    padding: .77em

  .newer
    margin-top: -43px
    float: right
    text-align: right

#month
  #pictures
    width: 93%
    margin: 1em auto
    border: 1em solid #eee
    
    a
      margin: 0
      padding: 0
      
      img
        width: 25px
        margin: 0
        padding: 0

#pictures
  a
    text-decoration: none
